h1 {
    color: orange;
    border: 5px ridge purple;
    border-radius: 10px;
    box-shadow: 2px 2px 5px white;
    background-color: ghostwhite;

}

nav {
    text-align: center;
    margin: 10px;
    color: purple;
    background-color: orange;
    border: 5px solid purple;
    border-radius: 10px;
    box-shadow: 4px 4px 10px orange;
    text-align: center;
}

hr {
    border-color: orange;
}

footer{
    margin-top: 20px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-left: 300px;
}
